<h1>全てのTweetです！</h1>

<p>
  <%= link_to "つぶやく!!!!!!", new_tweet_path %>
</p>

<table>

<table border ="1">
  <tr>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>投稿内容</th>
    <th>etc...</th>
  </tr>

    <% @tweets.each do |tweet| %>
  <tr>
      <td><%= tweet.user_id %></td>
      <td><%= tweet.title %></td>
      <td><%= tweet.text %></td>
      <td><%= link_to "詳細へ", tweet_path(tweet.id) %></td>
  </tr>
    <% end %>

</table>

<p>
  <%= link_to "戻るで", :back %>
</p>
