<p>
  ユーザー :
  <%= @tweet.user_id %>
</p>

<p>
  タイトル :
  <%= @tweet.title %>
</p>

<p>
  つぶやき内容 :
  <%= @tweet.text %>
</p>

<p><%= link_to "編集する", edit_tweet_path(params[:id]) %></p>

<p><%= link_to "削除する", tweet_path, method: :delete, data: { confirm: '削除しますか？' } %></p>

<p><%= link_to "一覧に戻るで", tweets_path %></p>