%h1
  = @user.id
  さんのページ
- if current_user.id.to_s == params[:id]
  %h3 あなたのマイページでする
- else
  %div{id: "follow-btn"}
    = render partial: 'relation/follow', locals: { user: current_user, other_user: @user }
%p
  = link_to "つぶやく!!!!!!", new_tweet_path
%p
  = link_to "つぶやき一覧はこっち!", tweets_path
%p
  = link_to "Simple Tweet ユーザー 一覧", users_path
