<h1><%= @user.id %>さんのページ</h1>

<% if current_user.id.to_s == params[:id] %>
  <h3>あなたのマイページでする</h3>
<% else %>
  <% if Relation.find_by(followed_id: params[:id]) %>
    <%= form_for @relation, url:relation_path(current_user), :method => :delete do |f| %>
      <%= f.hidden_field :follow_id, :value => current_user.id %>
      <%= f.hidden_field :follow_id, :value => @user.id %>
      <%= f.submit "フォローを外す" %>
    <% end %>
  <% else %>
    <%= form_for @relation, url:relation_index_path do |f| %>
      <%= f.hidden_field :follow_id, :value => current_user.id %>
      <%= f.hidden_field :followed_id, :value => @user.id %>
      <%= f.submit "フォローする" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "フォロー 一覧", relation_path(current_user.id) %>
<br>
<%= link_to "フォロワー 一覧", '/relationed/:id' %>
<br>
<%= link_to "Simple Tweet ユーザー 一覧", users_path %>

