!!!
%html
  %head
    %title Simple Tweet
    %meta{charset: "utf-8"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags

  %body
    %header
      %h1 Simple Tweet
      %div
        - if user_signed_in?
          こんにちは！ #{current_user.email}さん
          =link_to "サインアウトはこちら", destroy_user_session_path, method: :delete
        - else
          =link_to "新規登録", new_user_registration_path
          または、
          =link_to "既にアカウントをお持ちの方はこちら", new_user_session_path

    = yield
