<!DOCTYPE html>
<html>
  <head>
    <title>SimpleTweet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <heder>
      <div>
        <% if user_signed_in? %>
          こんにちわ <%= current_user.email %> <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %> または、
          <%= link_to "既にアカウントをお持ちの方はこちら", new_user_session_path %>
        <% end %>
      </div>
    </heder>

    <%= yield %>

  </body>
</html>
